checkpoints/
slurm_logs/
outputs/
utils/__pycache__/
data/__pycache__/
data/initialize_models/
data/modelnet40_normal_resampled/
data/shapenet-55/
models/__pycache__/
models/pointnet2/__pycache__/
models/pointbert/__pycache__/
models/customized_backbone/__pycache__/
models/customized_backbone/pointcept/__pycache__/
models/customized_backbone/pointcept/utils/__pycache__/
models/customized_backbone/pointcept/models/__pycache__/
models/customized_backbone/pointcept/models/losses/__pycache__/
models/customized_backbone/pointcept/models/point_prompt_training/__pycache__/
models/customized_backbone/pointcept/models/point_transformer_v3/__pycache__/
models/customized_backbone/pointcept/models/utils/__pycache__/
models/customized_backbone/pointcept/models/utils/serialization/__pycache__/
data/dataset_triplets/datasets/*
data/dataset_triplets/models_cache/*
data/dataset_triplets/results/*
data/dataset_triplets/truckscenes_tutorial.ipynb
wandb/
sonata.egg-info/
dist/
build/
Pointnet2_PyTorch/
vis_outputs/